/*region=======BLOCK PRODUCT =======*/
.product-specital {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.product-specital .container-image img {
    width: 80px;
    height: auto;
}

.block-product {
    border-right: 1px solid #eeeeee;
}

.block-product:hover .container-image:hover a.add-to-card {
    transform: translateY(-50px);
}

.block-product:hover .container-image img {
    transform: scale(1.3) translate(-20px, 30px);
}

.block-product:hover .quick-view .btn-circle32 {
    transform: translateX(-400px);
}

.block268x392 {
    width: 248px;
    height: 368px;
    border: 1px solid #d7d7d7;
    padding: 12px 10px;
}

.block270x340 {
    width: 270px;
    height: 340px;
}

.block233x350 {
    width: 213px;
    height: 326px;
    padding: 12px 10px;
}

.block270x385 {
    width: 248px;
    height: 359px;
    padding: 12px 10px;
    margin: 0 10px;

}

.block-product .container-image {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.size248x303 {
    width: 248px;
    height: 303px;
}

.size270x320 {
    width: 270px;
    height: 320px;
}

.size213x260 {
    width: 213px;
    height: 260px;
}

.size90x90 {
    display: block;
    width: 90px;
    height: 90px;
}

.size248x302 {
    width: 248px;
    height: 302px;
}

.size208x269 {
    width: 208px;
    height: 269px;
}

.block-product .container-image img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.quick-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    right: -400px;
    height: 110px;
    padding-left: 400px;

}

div.info-product {
    margin: 15px 0;
    width: 100%;
}

div.info-product h4.name, h4.name {
    margin-bottom: 10px;
    font-weight: 300;
}

div.info-product h4.name a {
    color: #666666;
}

div.info-product h4.name a:hover {
    color: #ff3366;
}

div.info-product span {
    margin-right: 15px;
}

div.info-product span.price-new, .price-new {
    color: #ff3366;
    font-weight: bold;
    font-size: 16px;
}

div.info-product span.price-old, span.price-old {
    color: #7e7e7e;
    text-decoration: line-through;
}

div.info-product img {
    height: 15px;
    width: auto;
}

.percent {
    display: inline-block;
    width: 58px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #ff9900;
}

/*endregion*/

/*region=======BANNER-PRODUCTS-LEFT =======*/
div.banner-products-left {
    display: inline-block;
    position: relative;
}

div.banner-products-left:hover .top,
div.banner-products-left:hover .bottom {
    transform: scaleX(214);
    z-index: 1;
}

div.banner-products-left:hover .left,
div.banner-products-left:hover .right {
    transform: scaleY(330);
    z-index: 1;
}

div.banner-products-left img.featured {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 3;
}

div.banner-products-left .top {
    top: 10px;
    left: 50%;
}

div.banner-products-left .right {
    top: 50%;
    right: 10px;
}

div.banner-products-left .bottom {
    left: 50%;
    bottom: 10px;
}

div.banner-products-left .left {
    top: 50%;
    left: 10px;
}

/*endregion*/

/*region=======BANNER-PRODUCTS-TOP =======*/
.container-banner-products-top {
    display: flex;
}

.banner-products-top {
    height: 65px;
    width: 585px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.banner-products-top:hover div.slide-luxury div.lux {
    transform: translateX(885px) rotate(-37deg);
}

.banner-products-top img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.banner-products-top div.slide-luxury {
    height: 165px;
    width: 350px;
    margin-top: -50px;
    margin-left: -350px;
    position: relative;
    z-index: 9;
}

.banner-products-top div.slide-luxury div.lux {
    margin-top: 50px;
    height: 80px;
    width: 300px;
    transform: rotate(-37deg);
    transition: 0.6s;
    background-color: #FFFFFF;
    opacity: 0.8;

}

/*endregion*/

/*region=======NAV-NAVBAR | NAV-MENU =======*/
nav.nav-navbar,
nav.nav-menu,
nav.menu-const {
    position: relative;
}

nav.nav-navbar ul.nav-navbar,
nav.nav-menu ul.nav-menu,
nav.menu-const ul.nav-menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav.nav-navbar ul.nav-navbar li.item,
nav.nav-menu ul.nav-menu li.item,
nav.menu-const ul.nav-menu li.item {
    transition: 0.3s;

}

nav.nav-navbar ul.nav-navbar li.item > a,
nav.nav-menu ul.nav-menu > li.item > a,
nav.menu-const ul.nav-menu > li.item > a {
    display: block;
    line-height: 50px;
    transition: 0.3s;
    padding: 0 30px;
}

nav.nav-navbar ul.nav-navbar li.item:hover a,
nav.nav-menu ul.nav-menu li.item:hover > a,
nav.menu-const ul.nav-menu li.item:hover > a {
    color: #FFFFFF;
}

/*nav.nav-navbar ul.nav-navbar li.item a.active,*/
nav.nav-menu ul.nav-menu li.item > a.active,
nav.menu-const ul.nav-menu li.item > a.active {
    background-color: #ff3366;
    color: #FFFFFF;
}

.elevator {
    padding-left: 38px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background: url("../images/floor-elevator.png") center left no-repeat;
}

/*endregion*/

/*region=======SERVICES =======*/
div.services {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    border: 1px solid #eaeaea;
    background-color: #f6f6f6;
}

div.services .block-service {
    width: 290px;
    height: 40px;
    text-align: center;

}

div.services .block-service a {
    font-size: 18px;
    color: #626262;
}

div.services .block-service a:hover {
    color: #ff3366;
}

div.services .block-service p {
    color: #666666;
}

.shipping {
    background: url(../data/s1.png) 25px center no-repeat;
}

.return {
    background: url(../data/s2.png) 25px center no-repeat;
}

.support {
    background: url(../data/s3.png) 25px center no-repeat;
}

.safe {
    background: url(../data/s4.png) 25px center no-repeat;
}

/*endregion*/

/*region=======NAV-TAB =======*/
nav.nav-tab {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
}

nav.nav-tab ul.nav-tab {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav.nav-tab > nav {
    align-items: center;
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

nav.nav-tab ul.nav-tab li {
    padding: 0 10px;
    line-height: 35px;
    margin: 0 5px;
    border-bottom: 3px solid #cccccc;
}

nav.nav-tab ul.nav-tab li.actived {
    border-bottom: 3px solid #ff3366;
}

nav.nav-tab ul.nav-tab li.actived a {
    color: #000000;
}

nav.nav-tab ul.nav-tab li a {
    font-size: 16px;
    color: #999999;
    font-weight: bold;
}

nav.nav-tab ul.nav-tab li:hover {
    border-bottom: 3px solid #ff3366;
}

nav.nav-tab ul.nav-tab li:hover a {
    color: #000000;
}

/*endregion*/

/*region=======LASTEST-DEALS =======*/
div.lastest-deals {
    position: relative;
    width: 270px;
    height: 344px;
    border: 3px solid #ff3366;
    padding-top: 65px;
}

div.lastest-deals img.title {
    position: absolute;
    top: -56px;
    left: 0;
}

.time-remaining {
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 45px;
    width: 170px;
    margin: 0 auto;
    display: flex;
    height: 24px;
    justify-content: space-around;
}

.time-remaining li {
    font-size: 18px;
    text-align: center;
    margin: 2px;
    font-weight: bold;
    line-height: 25px;
    width: 25px;
    height: 25px;
    background-color: #999999;
    color: #FFFFFF;
}

.time-remaining span {
    font-weight: bold;
    line-height: 25px;
}

/*endregion*/

/*region=======YOUR CART =======*/
.your-cart {
    position: relative;
    width: 202px;
    height: 41px;
    background: url("../images/cart.png") 170px center no-repeat #ff3366;
    cursor: pointer;
}

.your-cart:hover .info-cart {
    color: #ff3366;
}

.your-cart:hover .detail-cart {
    opacity: 1;
    background-color: #FFFFFF;
    visibility: visible;
    transform: translateY(-41px);
    z-index: 3;
}

.your-cart .info-cart {
    background-color: #FFFFFF;
    height: 100%;
    padding: 5px 10px;
    margin-right: 46px;
    z-index: 99;
}

.detail-cart {
    opacity: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    visibility: hidden;
    transition: 0.4s;
    position: absolute;
    top: 200%;
    left: -108px;
    width: 290px;
    height: 406px;
    padding: 10px;
}

ul.list-items-selected {
    max-height: 286px;
    margin-top: 10px;
    overflow: auto;

}

ul.list-items-selected li.item-slected {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #cccccc;
    height: 140px;
}

ul.list-items-selected li.item-slected a {

}

ul.list-items-selected li.item-slected img {
    height: auto;
    width: 100px;
}

ul.list-items-selected li.item-slected div.info {
    margin-top: 20px;
    margin-left: 10px;
}

ul.list-items-selected li.item-slected div.info p.qty {
    margin-top: 10px;
}

.detail-cart div.total {
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

/*endregion*/

/*region=======BOX-SEARCH =======*/
.box-search {
    width: 575px;
    display: flex;
}

/*endregion*/

/*region=======MEGA-MENU =======*/
.mega-menu {
    position: relative;
}

.mega-menu nav#mega-menu, nav#mega-menu-const {
    background-color: #FFFFFF;
    position: absolute;
    top: 100%;
    left: 0;
    width: 270px;
    border-top: 3px solid #ff3366;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 999;
}

nav#mega-menu-const {
    /*display: none;*/
}

.mega-menu nav#mega-menu ul.list-categories {
    transition: 0.5s;
    margin-bottom: 8px;
    height: 400px;
    overflow: hidden;
}

#convoluted-const {
    display: none;
}

nav#mega-menu-const ul.list-categories {
    transition: 0.5s;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
}


.mega-menu nav#mega-menu ul.list-categories li,
nav#mega-menu-const ul.list-categories li {
    padding: 9px 15px;
}

.mega-menu nav#mega-menu ul.list-categories li a,
nav#mega-menu-const ul.list-categories li a {
    display: block;
}

.mega-menu nav#mega-menu ul.list-categories li img,
nav#mega-menu-const ul.list-categories li img {
    padding-right: 10px;
}

/*endregion*/

/*region=======SUB-MENU-V-H =======*/
.sub-menu-v {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 200%;
    left: -90px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    min-width: 770px;
    min-height: 324px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.sub-menu-v .item-categories,
.sub-menu-h .item-categories {
    width: 168px;
}

.sub-menu-v .item-categories h4.title,
.sub-menu-h .item-categories h4.title {
    border-bottom: 1px solid #cccccc;
    margin: 10px 15px;
}

.sub-menu-v .item-categories h4.title a,
.sub-menu-h .item-categories h4.title a {
    color: #5b5b5b;
    display: inline-block;
    border-bottom: 1px solid #ff3366;
}

.sub-menu-v .item-categories h4.title a:hover,
.sub-menu-h .item-categories h4.title a:hover {
    color: #ff3366;
}

.sub-menu-v .item-categories ul,
.sub-menu-h .item-categories ul {

}

.sub-menu-v .item-categories ul li,
.sub-menu-h .item-categories ul li {
}

.sub-menu-v .item-categories ul li a {
    line-height: 30px;
    color: #5b5b5b;
}

.sub-menu-h .item-categories ul li a {
    color: #5b5b5b;
}

.sub-menu-v .item-categories ul li:hover a,
.sub-menu-h .item-categories ul li:hover a {
    color: #ff3366;
}

/*endregion*/

/*region=======SUB-MENU-H =======*/
div.sub-menu-h {
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 120%;
    top: 5px;
    width: 850px;
    height: 316px;
    border: 1px solid #ededeb;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.sub-menu-h .container-catagories {
    height: 70%;
    display: flex;
    justify-content: space-between;
}

/*endregion*/

/*region=======SLIDER =======*/
div.home-slider {
    position: relative;
    width: 666px;
    height: 450px;
    overflow: hidden;
}

div.home-slider div.slider-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
}

div.home-slider:hover .btn-movable-previous {
    z-index: 999;
    transform: translateX(-330px);
    opacity: 1;
    visibility: visible;
}

div.home-slider:hover .btn-movable-next {
    z-index: 999;
    transform: translateX(300px);
    opacity: 1;
    visibility: visible;
}

div.home-slider div.slider-preference {
    width: 80px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    display: flex;

}

/*endregion*/

/*region ==== NAV-MENU-TOP-CONST =====*/
nav.menu-const {
    width: 100%;
    background-color: #FFFFFF;
    z-index: 999;
    display: none;
    position: fixed;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav.menu-const .left {
    height: 50px;
    width: 70%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

nav.menu-const .left .btn-bars {
    position: relative;
}

/*endregion*/

/*region ==== BOX-FILLTER =====*/
.number-records {
    color: #a4a4a4;
}

.box-filter {
    margin-top: 10px;
    color: #333;
    border: 1px solid #eaeaea;
    padding-bottom: 10px;
}

.box-filter h3.title {
    padding-left: 28px;
    line-height: 46px;
    border-bottom: 1px solid #eaeaea;
    color: #333;
}

.box-filter .header {
    font-weight: 300;
    margin: 10px 0;
    color: #666;
    font-size: 16px;
}

.box-filter .list-filter, .list-filter {
    padding: 0 20px;
}

.box-filter .list-filter li {
    line-height: 22px;
}

.container-size {
    display: flex;
    justify-content: space-between;
}

.container-size .left {
    width: 50%;
}

.container-size .right {
    width: 50%;
}

.box-ads-slider {
    margin-top: 20px;
    position: relative;
    width: 270px;
    height: 346px;
    overflow: hidden;
}

.box-ads-slider img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
}

/*endregion*/

/*region ==== TESTIMONIALS =====*/
.container-testimonials {
    margin: 10px auto;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;

}

.container-testimonials .list-famous {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.container-testimonials .list-famous li.item {
    width: 268px;
}

.container-testimonials .list-famous li.item h5.name {
    text-align: center;
    margin: 10px 0;

}

.container-testimonials .list-famous li.item p.extract {
    font-size: 13px;
    margin: 5px 15px;
    text-align: justify;

}

.container-testimonials .list-famous li.item .pic-famous {
    margin: 0 auto;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.container-testimonials .list-famous li.item .pic-famous img {
    height: 110px;
    width: auto;
}

/*endregion*/

/*region ==== SLIDER-CATEGORY =====*/
.slider-category {
    margin: 10px 0;
    position: relative;
    height: 288px;
}

.slider-category img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s;
}

/*endregion*/

/*region ==== SLIDER-CATEGORY =====*/
nav.title-category {
    margin: 10px 0;
    border: 1px solid #cccccc;
}

nav.title-category .list-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav.title-category .list-items li {
    line-height: 36px;
}

nav.title-category .list-items li.item a {
    display: block;
    padding: 0 25px;
}

nav.title-category .list-items li.item a.active {
    background-color: #ff3366;
    color: #FFFFFF;
}

nav.title-category .list-items li.item a:hover {
    background-color: #ff3366;
    color: #FFFFFF;
}

nav.title-category .list-items li.brand-category a {
    text-align: center;
    display: block;
    width: 160px;
    height: 36px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}

/*endregion*/

/*region ==== PAGE HEADING =====*/
nav.page-heading {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
}

nav.page-heading h3.header {
    padding: 0 20px;
    display: inline-block;
    border-bottom: 3px solid #ff3366;
}

nav.page-heading nav.view-layout {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

/*endregion*/

/*region ==== PAGINATION =====*/
nav.pagination {
    padding-top: 5px;
    position: absolute;
    display: flex;
    top: 100%;
    right: 0;
}

nav.pagination .page-number {
    margin: 0 1px;
    cursor: pointer;
    color: #333;
    text-align: center;
    line-height: 29px;
    display: block;
    width: 32px;
    height: 29px;
    border: 1px solid #cccccc;
}

nav.pagination .page-number:hover,
nav.pagination .active {
    background-color: #ff3366;
    color: #FFFFFF;
}

nav.pagination .next-page:hover {
    color: #FFFFFF;
    background: url("../images/double-extend.png") 55px center no-repeat #ff3366;
}

nav.pagination .next-page {
    color: #333;
    padding-left: 15px;
    line-height: 29px;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 29px;
    border: 1px solid #cccccc;
    background: url("../images/bg-next.png") 55px center no-repeat;
}

nav.pagination .previous-page {
    color: #333;
    padding-left: 25px;
    line-height: 29px;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 29px;
    border: 1px solid #cccccc;
    background: url("../images/bg-previous.png") 10px center no-repeat;
}

nav.pagination .previous-page:hover {
    color: #FFFFFF;
    background: url("../images/double-extend-previous.png") 10px center no-repeat #ff3366;
}

/*endregion*/

/*region ==== DETAIL-PRODUCT =====*/
.detail-product {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.detail-product .product-review {

}

.detail-product .product-review .review-main {
    width: 393px;
    height: 473px;
    overflow: hidden;
    text-align: center;
    line-height: 395px;
    border: 1px solid #eaeaea;
    cursor: crosshair;
}

.detail-product .product-review .review-main:hover img {
    transform: scale(1.8);
}

.detail-product .product-review .review-main img {
    width: 375px;
    height: auto;
    vertical-align: middle;
    transition: 0.5s;
}

.container-list-review {
    margin-top: 30px;
    width: 395px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.container-list-review .list-reviews {
    position: relative;
    width: 330px;
    height: 123px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.container-list-review .list-reviews .thumbnail-reviews {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.container-list-review .list-reviews .thumbnail-reviews li {
    width: 101px;
    height: 121px;
    border: 1px solid #eaeaea;
    line-height: 123px;
    text-align: center;
    margin-right: 10px;
}

.container-list-review .list-reviews .thumbnail-reviews li img {
    width: 83px;
    height: auto;
    vertical-align: middle;
}

.detail-product .info-detail {
    width: 434px;
    color: #666;
}

.instock {
    color: #009966;
}

.detail-product .info-detail h2.name-product {
    color: #7c7c7c;
    font-weight: 300;
}

.detail-product .info-detail .reviews {
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detail-product .info-detail .reviews li {
}

.detail-product .info-detail .reviews li img {
    vertical-align: middle;
    margin-right: 3px;
}

.detail-product .info-detail .reviews .review-rating {
    margin: 0 10px;
}

.detail-product .info-detail p {
    margin: 10px 0;
}

.detail-product .info-detail p.description {
    line-height: 25px;
}

.group-btn {
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.group-btn li {
    padding: 0 5px;
}

.size-chart {
    cursor: pointer;
    margin-left: 15px;
    color: #ff3366;
    text-decoration: underline;
}

/*endregion*/

/*region ==== TAB-BAR =====*/
.tab-bar {
    margin: 15px 0;
}

.tab-bar .list-title {
    display: flex;
    justify-content: flex-start;
}

.tab-bar .list-title .title {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 168px;
    height: 48px;
    margin-right: 8px;
    line-height: 50px;
    text-transform: uppercase;
    border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
}

.tab-bar .list-title .title:hover {
    background-color: #FFFFFF;
    border-bottom: none;
}

.tab-bar .list-title .active {
    border: 1px solid #d7d7d7;
    background-color: #FFFFFF;
    border-bottom: none;
}

.tab-bar .contents {
    padding: 15px;
    color: #333;
    border: 1px solid #d7d7d7;
    line-height: 25px;
    margin-top: -2px;
}

.tab-bar .contents li {
    margin-bottom: 10px;
}

table.atribute-product {
    width: 100%;
}

table.atribute-product, td {
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    padding: 5px 10px;
}

table.atribute-product .atribute {

    width: 130px;
}

.list-comments {

}

.list-comments .user-comment {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #d7d7d7;
}

.list-comments .user-comment .evaluate {
    width: 200px;
    border-right: 1px solid #d7d7d7;
}

.list-comments .user-comment .content-comment {
    padding-left: 15px;
}

#tab-2, #tab-3, #tab-4, #tab-5 {
    display: none;
}

.slider-best-seller {
    overflow: hidden;
    position: relative;
    height: 420px;
}

.list-best-seller {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.on-sale {
    overflow: hidden;
    position: relative;
    height: 50px;
    padding: 410px 10px 0 10px;

}

.list-on-salle {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

/*endregion*/

/*region ==== PAGE-ODER=====*/
p.title {
    margin: 25px 0;
    font-size: 22px;
    display: block;
    border-bottom: 1px solid #eaeaea;
}

.steps-path {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #cccccc;
}

.steps-path .step {
    text-align: center;
    width: 20%;
}

.steps-path .active {
    border-bottom: 3px solid #ff3366;
    margin-bottom: -3px;
}

.info-in-cart {
    line-height: 40px;
    border: 1px solid #eeeeee;
    padding-left: 15px;
}

.table-oder, th, td {
    width: 100%;
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
}

.table-oder th {
    font-weight: 300;
    font-size: 16px;
    background-color: #f4f4f4;
    padding: 15px 0;
}

.table-oder td img {

}

.table-oder td p {
    line-height: 20px;
}

.table-oder td p.in-stock {
    width: 70px;
    height: 28px;
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
    border: 1px solid #009966;
    color: #009966;
}

.table-oder .product {
    text-align: center;
    width: 15%
}

.table-oder .description {
    width: 25%
}

.table-oder .avail {
    width: 15%
}

.table-oder .unit {
    width: 15%
}

.table-oder .qty {
    width: 10%
}

.table-oder .total {
    width: 15%
}

.table-oder .trash {
    width: 5%
}

.table-oder .qty input.qty {
    display: block;
    width: 62px;
    height: 28px;
    border: 1px solid #eaeaea;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
}

.table-oder .qty .change-qty {
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    width: 62px;

}

.table-oder .qty .increase {
    cursor: pointer;
    width: 28px;
    height: 33px;
    border: 1px solid #eaeaea;
    background: url("../images/dropdow.png") center center no-repeat;
}

.table-oder .qty .reduction {
    cursor: pointer;
    width: 28px;
    height: 33px;
    border: 1px solid #eaeaea;
    background: url("../images/dropup.png") center center no-repeat;
}

.table-oder .qty .increase:hover,
.table-oder .qty .reduction:hover {
    background-color: #ff3366;
}

img.btn-delete {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.table-oder .total-tax {
    background-color: #f4f4f4;
    text-align: right;
    line-height: 30px;
    font-size: 16px;
}

nav.oder-step {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

nav.oder-step .change-step {
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    padding: 0 40px;
    border: 1px solid #eaeaea;

}

nav.oder-step .change-step:hover {
    opacity: 0.8;
    background-color: #ff3366;
    color: #FFFFFF;
}

.step-next {
    color: #FFFFFF;
    background: url("../images/btn-next.png") 95% center no-repeat #ff3366;
}

.step-previous {
    color: #FFFFFF;
    background: url("../images/btn-previous.png") 5% center no-repeat #b5b5b5;
}

/*CHECKOUT*/
.step {
    margin: 15px 0;
}

h2.title-step {
    text-transform: uppercase;
    font-weight: 300;
}

.box-checkout {
    margin: 15px 0;
    display: flex;
    padding: 15px;
    border: 1px solid #eaeaea;
    justify-content: space-between;
}

.box-checkout .guest {
    width: 50%;
}

.box-checkout .guest > * {
    line-height: 25px;
}

.box-checkout .box-login > * {
    line-height: 25px;
}

.box-checkout p.label {
    font-size: 18px;
    margin: 15px 0;
}

input.btn-submit {
    margin-top: 15px;
    display: inline-block;
    color: #FFFFFF;
    cursor: pointer;
    height: 35px;
    background-color: #686866;
    padding: 0 35px;
}

.btn-submit:hover {
    background-color: #ff3366;
}

.box-login {
    width: 50%;
    padding-right: 20px;
}

.box-checkout input[type=text],
.box-checkout input[type=password],
.box-checkout select,
.box-checkout textarea{
    width: 100%;
    height: 36px;
    padding-left: 5px;
    border: 1px solid #eaeaea;
    color: #666;
    font-size: 15px;
}

.box-billing {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
}

.box-billing > * {
    line-height: 30px;
}

.sort-pagi-bar {
    position: relative;
    border-bottom: 1px solid #eaeaea;
}

.sort-pagi-bar > nav.pagination {
    top: 0;
}

.sort-pagi-bar .showing {
    line-height: 55px;
}

/*BLOG-COMPONENT */
.box-blog {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.box-blog .illustration {
    width: 343px;
    height: 242px;
    position: relative;
    border: 1px solid #eaeaea;
    overflow: hidden;
}

.box-blog .illustration .coverings-top {
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 172px;
    width: 1px;
    height: 1px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
}

.box-blog .illustration:hover .coverings-top {
    z-index: 99;
    transform: scale(400);
}

.box-blog .illustration img.search {
    position: absolute;
    left: 164px;
    top: 113px;
    opacity: 0;
    transition: 0.3s;
    background-color: transparent;
}

.box-blog .illustration:hover img.search {
    z-index: 999;
    opacity: 1;
}

.box-blog div.short-contents {
    width: 496px;
}

.box-blog div.short-contents a:hover {
    color: #ff3366;
}

.box-blog div.short-contents h3.title-payper {
    font-weight: 300;
    color: #333;
    font-size: 18px;
}

.box-blog div.short-contents .info-payper, .info-payper {
    line-height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.box-blog div.short-contents .info-payper > *, .info-payper > * {
    padding-right: 20px;
    color: #333;
    font-size: 14px;
    margin: 5px 0;
}

.box-blog div.short-contents p.short-contents {
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 5px 0;
    text-align: justify;
    line-height: 25px;
}

.popular-post {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
}

img.pic-popular-post {
    margin-right: 10px;
}

p.info-popular-post {
    font-size: 12px;
}

p.contents-post {
    line-height: 25px;
    text-align: justify;
}

.box-user-comments {

}

.box-user-comments .comment {

}

.box-user-comments .comment .user-comment {
    padding: 15px 0;
}

.box-user-comments .comment .user-comment .sub-comments {
    margin-left: 60px;
}

.box-comment {
    display: flex;
    margin: 10px 0;
}

.box-comment .user-avatar {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 3px;
    border: 1px solid #eaeaea;
    margin-right: 10px;
}

.box-comment .user-avatar img {
    width: 70px;
    height: auto;
}