body{
    font: 14px Arial, Helvetica, sans-serif;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    border: none;
}

ul li {
    list-style: none;
}

.clr {
    clear: both;
}